<div id="meal-list" class="space-y-4 fade-in-out" hx-get="{% url 'get_meal_list' %}" hx-swap="morph:outerHTML swap:0.25s" hx-trigger="meal-list-updated from:body">
    {% if today_entries %}
        {% for entry in today_entries %}
            {% include 'partials/food_entry_row.html' with entry=entry %}
        {% endfor %}
    {% else %}
        <div class="text-center text-gray-500">
            <p>Nothing logged yet. What did you eat today? <span class="icon">😋</span></p>
        </div>
    {% endif %}
</div>

