@font-face {
    font-family: "Sen";
    src: local("Sen"), url("../fonts/Sen-VariableFont_wght.ttf") format("truetype")
}

body {
    font-family: "Sen";
}

span.icon {
    font-family: "OpenMojiColorFont";
}

.fade-in-out {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.fade-in-out.htmx-swapping {
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.fade-in-out.htmx-added {
    opacity: 0;
}
